<a href="https://colab.research.google.com/github/00ssum/KT-SMU-AI-project/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4_%EC%84%9C%EC%B9%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
! pip install pymysql 
import pymysql
import pandas as pd
import cv2
import numpy as np
import matplotlib.pylab as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
! pip install boto3
import boto3
import glob
import os

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.24.61)
Requirement already satisfied: botocore<1.28.0,>=1.27.61 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.27.61)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.28.0,>=1.27.61->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.28.0,>=1.27.61->boto3) (1.26.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.61->boto3) (1.15.0)

In [ ]:
conn = pymysql.connect(
        host='database-2.cdv8ov56qedi.ap-northeast-2.rds.amazonaws.com',
        db="KTDB", user='admin', password='sjw04050', charset='utf8')
cur = conn.cursor()

## 1. 전체 데이터 베이스

In [ ]:
#데이터 베이스 load
query = "SELECT * FROM puppy"
arr=[]
with conn:
    with conn.cursor() as cur:
        cur.execute(query)
        result = cur.fetchall()
        for data in result:
          arr.append([*data])

In [ ]:
# 배열로 저장
DB = pd.DataFrame(arr)
DB.columns = ['imagenum','filename','date','location','breed','shelter','width','height','accuracy']
DB.to_csv("puppyDB.csv", mode='w')

In [ ]:
DB

,imagenum,filename,date,location,breed,shelter,width,height,accuracy
0,1,abandoned1,2022.07.27,동대문구,푸들,한국동물구조관리협회,22,27,0.84
1,2,abandoned2,2022.07.16,중랑구,포메라니안,한국동물구조관리협회,22,25,0.74
2,3,abandoned3,2022.07.26,노원구,포메라니안,노원반려동물문화센터,32,26,0.64
3,4,abandoned4,2022.07.23,양천구,차우차우,강현림동물병원,13,25,0.88
4,5,abandoned5,2022.08.04,영등포구,프렌치불독,한국동물구조관리협회,18,24,0.82
...,...,...,...,...,...,...,...,...,...
75,76,abandoned76,2022.08.04,노원구,믹스견,한국동물구조관리협회,12,15,0.63
76,77,abandoned77,2022.08.07,송파구,믹스견,한국동물구조관리협회,36,26,0.4
77,78,abandoned78,2022.08.07,관악구,진도견,강현림동물병원,20,20,0.88
78,79,abandoned79,2022.08.07,서대문구,골든 리트리버,한국동물구조관리협회,14,36,0.81
79,80,abandoned80,2022.08.06,강남구,도베르만,한국동물구조관리협회,12,31,0.77

## 2. 신고자에게 정보 입력 받음

In [ ]:
print("실종된 개의 정보를 입력해주세요")
print("(잘 모르는 정보는 NULL로 입력해주시요)")
print("------------------------------------------------")
loc=input("실종 장소를 입력하세요: ")
dat=input("실종 날짜를 입력하세요: ")
bre=input("견종을 입력하세요: ")

실종된 개의 정보를 입력해주세요
(잘 모르는 정보는 NULL로 입력해주시요)
------------------------------------------------
실종 장소를 입력하세요: 강남구
실종 날짜를 입력하세요: NULL
견종을 입력하세요: NULL

## 3. 데베에서 찾음 - 정형 데이터

In [ ]:
#장소 
if loc !="NULL":
  location_DB = DB['location'] == loc
else:
  location_DB=DB['location']
#날짜
if dat !="NULL":
  date_DB = DB['date'] == dat
else:
  date_DB=DB['date']
#견종
if bre !="NULL":
  breed_DB = DB['breed'] == bre
else:
  breed_DB=DB['breed']

In [ ]:
search_DB=DB[location_DB & date_DB & breed_DB]

In [ ]:
search_DB.reset_index()

,index,imagenum,filename,date,location,breed,shelter,width,height,accuracy
0,15,16,abandoned16,2022.07.15,강남구,말티즈,한국동물구조관리협회,17,29,0.76
1,21,22,abandoned22,2022.07.13,강남구,푸들,한국동물구조관리협회,20,32,0.55
2,44,45,abandoned45,2022.08.08,강남구,믹스견,한국동물구조관리협회,20,25,0.5
3,79,80,abandoned80,2022.08.06,강남구,도베르만,한국동물구조관리협회,12,31,0.77

## 3. 데베에서 찾음 - 비정형 데이터

In [ ]:
class s3_create:
 #s3 client 생성(따로 만질 필요 없습니다.)
    def __init__(self):
        try:
            self.s3 = boto3.client(
            service_name ="s3",
            region_name = "ap-northeast-2",
            aws_access_key_id="AKIAWBWA5G56T4MJYXVL",
            aws_secret_access_key="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")

        except Exception as e:
            print(e)
        else:
            print("s3 bucket connected!")
    # 이미지 파일 다운로드 하는 법 => s3.download_file("ktai","{찾고싶은 이미지파일이름.확장자}","{찾은 이미지 파일을 저장할 경로/설정할 파일이름.확장자}")

    #밑에는 이미지 다운로드시 사용예시입니다. 주석제거하고 사용하시면 됩니다.(ktai는 설정한 storage 이름이라 꼭 넣어야 합니다.)
    #s3.download_file("ktai","abandoned1.jpg","./test1.jpg")
    def download(self,file_path,save_path):
        self.s3.download_file("ktai",file_path,save_path)
        self.s3.close()

In [ ]:
#비교할 이미지 가져오기
imgs = []
hists = []
path='/content/drive/MyDrive/kt/2. background_remove/'

In [ ]:
s3 = s3_create()
for i in range(len(search_DB)):
  name=search_DB.iloc[i]['filename']
  s3.download(name+".jpg", name+".jpg") 
  print(name +" 이미지 로딩 완료")
  imgs.append(cv2.imread(path+name+'.png'))

s3 bucket connected!
abandoned16 이미지 로딩 완료
abandoned22 이미지 로딩 완료
abandoned45 이미지 로딩 완료
abandoned80 이미지 로딩 완료

In [ ]:
for img in imgs:
    # BGR 이미지를 HSV 이미지로 변환
    hsv = cv2.cvtColor(img, cv2.COLOR_BGR2HSV)
    # 히스토그램 연산(파라미터 순서 : 이미지, 채널, Mask, 크기, 범위)
    hist = cv2.calcHist([hsv], [0, 1], None, [180, 256], [0, 180, 0, 256])
    # 정규화(파라미터 순서 : 정규화 전 데이터, 정규화 후 데이터, 시작 범위, 끝 범위, 정규화 알고리즘)
    cv2.normalize(hist, hist, 0, 1, cv2.NORM_MINMAX)
    # hists 리스트에 저장
    hists.append(hist)
# 1번째 이미지를 원본으로 지정
query = hists[0]
# 비교 알고리즘의 이름들을 리스트에 저장
methods = ['CORREL','CHISQR', 'INTERSECT', 'BHATTACHARYYA', 'EMD']

In [ ]:
# 같은 사진 넣었을 때 
for index, name in enumerate(methods):
    # 비교 알고리즘 이름 출력(문자열 포맷팅 및 탭 적용)
    print('%-10s' % name, end = '\n')  
    
    # 2회 반복(2장의 이미지에 대해 비교 연산 적용)
    for i, histogram in enumerate(hists):
        ret = cv2.compareHist(query, histogram, index) 
        
        if index == cv2.HISTCMP_INTERSECT: # 교차 분석인 경우 
            ret = ret/np.sum(query)        # 원본으로 나누어 1로 정규화
        print("img%d :%7.2f"% (i+1 , ret), end='\n')

CORREL
img1 :   1.00
img2 :   0.37
img3 :   0.33
CHISQR
img1 :   0.00
img2 :463668.45
img3 :523591.02
INTERSECT
img1 :   1.00
img2 :   1.00
img3 :   1.00
BHATTACHARYYA
img1 :   0.00
img2 :   0.85
img3 :   0.84
EMD
img1 :   0.00
img2 : 165.56
img3 : 164.31